body{
  font-family: 'Montserrat', sans-serif;
  height: 96.8vh;
  font-size: 0.75em;
}
#grad {
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  background-repeat: no-repeat;
  background-size: cover;
}
.image-logo{
  height: 30px;
  width: 70px;
}
.navbar-brand{
  font-size: small;
  font-weight: 900;
}
.super-tag{
  background: #FF7BDA;
  padding: 2px 5px;
  top: -20px;
  right: 20px;
  border-radius: 2px;
}
.nav-link-item{
  color: white;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}
.nav-link-item:hover{
  color: white;
}
.gradient,.hover-line:hover{
  color: white;
  border-bottom: 3px solid #2FFFAD;
  padding-bottom: 3px;
}
.container{
  max-width: 450px;
}
.heading-1{
  text-align: center;
  margin-top: 5rem;
  text-shadow: 2px 2px 3px #898999;
  font-weight: 900;
  font-size: 1.8rem;
}
.para-1{
  text-align: center;
  display: block;
  color: white;
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 0.8rem;
}
.para-2{
  text-align: center;
  display: block;
  color: white;
  font-weight: 900;
  letter-spacing: 1px;
}
.arrow-wrap{
  text-align: start;
}
.custom-arrow-list{
  padding-left: 0;
}
.custom-arrow-list li{
  text-align: center;
  list-style: none;
  color: white;
  display: inline;
  border: 1px solid transparent;
  padding: 6px 8px;
  margin: 7px;
  box-sizing: border-box;
  position: relative;
}
a{
  color: white;
}
.custom-arrow-list a:hover{
  color: white;
}
.custom-arrow-list li:hover{
  color: white;
  border: 1px solid white;
  border-radius: 50%;
}
#selected-arrow{
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  padding: 6px 8px;
}
.rotate-right{
  transform: rotate(45deg);
}
.rotate-left{
  transform: rotate(90deg) scale(-1,1);
}
.button-wrap{
  display: block;
  text-align: center;
}
.color-button-1{
  background: #051937;
  box-shadow: 4px 6px 8px 4px rgba(0, 0, 0, 20%);
  display: inline;
  color: white;
  padding: 10px 50px;
  margin-right: 30px;
}
.color-button-2{
  background: #A8EB12;
  box-shadow: 7px 6px 5px 2px rgba(0, 0, 0, 20%);
  display: inline;
  color: black;
  padding: 10px 50px;
  margin-left: 30px;
}
.generate-button{
  margin-left: auto;
  padding: 10px 30px;
  box-shadow: 7px 6px 5px 2px rgba(0, 0, 0, 20%);
  background: #00c9b7;
}
.code-body{
  justify-content: center;
}
.para-code-heading{
  color: white;
  font-weight: 900;
  font-size: 0.7rem;
}
.para-code{
  font-family: 'Space Mono', monospace;
  border-left: 3px solid white;
  background: rgba(255, 255, 255, 10%);
  max-width: 500px;
  text-align: start;
  color: white;
  border-radius: 5px;
  padding: 10px 20px 10px 10px;
}